.pin {
    background-color: #e15555;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.25rem;
    border: 1px solid white;
    border-radius: 50%;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.pin .tooltiptext {
    font-size: medium;
    visibility: hidden;
    width: 10rem;
    background-color: #555;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.pin .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

.pin:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}