html {
    background-color: #f1f1f0;
}

body {
    background-color: #f1f1f0;
}


/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5e5e5;
} */


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

footer {
    position: fixed;
    bottom: 0;
    padding: 0 2rem;
    width: 100%;
    height: 6rem;
    /* line-height: 2.5rem; */
    background-color: lightgray;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.logos {
    margin: auto 0.5rem;
}

footer img {
    margin: 0.5rem 2rem;
    height: 5rem;
}

.copyright {
    margin: auto 0.5rem;
    font-size: larger;
}

footer span {
    color: #383940;
}